

.navbar-nav #submit{
  
  /* margin-right: 10px; */
  background-color:red;
}
.navbar-nav #request{
  background-color: blue;
}

.navbar-nav .nav-item{
  padding: 10px;
  
}

.navbar{
  background-color: whitesmoke;



}


.navbar{
  font-size: smaller;
 
}

.App {
  text-align: center;
}
/* ------------------ */

#one {
  background-image: linear-gradient(to right, rgb(76, 76, 236), rgb(57, 81, 161), rgb(153, 100, 207));

  
}

#navh{
  justify-content: center;

}

.navbar-nav {
  /* display: flex; */
  list-style-type: none;
  

}

#navh {
  text-decoration: none;
  

 
}

.nav-item-hp{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  


 
  
}

#h1 {
justify-content: center;
  margin-top: 30px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 40px;
}


/* --------------- */




#pricing-table {
  margin-top: 10px;
  margin-left: 0px;
text-align: center;
 width: 130%; /* total computed width */

padding-bottom: 350px;
}

.snip1276 {
  font-family: 'Raleway', Arial, sans-serif;
 
  margin-top: 50px;
  margin-left: 150px;
}




#pricing-table:after {
  clear: both
}

/* --------------- */ 

#pricing-table .plan {
  font: 14px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;     
  background: white;      
  border: 1px solid #ddd;
  color: #333;
  
  width: 300px;
  float: left;
  /* _display: inline;  */
  /* IE6 double margin fix */
  position: relative;
  margin: 10px 20px;
  
  
 
}





/* --------------- */ 

#pricing-table .header {
  position: relative;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px;
 

  

  
}


.header p{
font-size:12px;
 text-transform: none;
 }




/*
#pricing-table .plan1 .header{
  border-bottom-color: pink;
}

#pricing-table .plan2 .header{
  border-bottom-color: pink;
}

#pricing-table .plan3 .header{
  border-bottom-color: pink;
}

#pricing-table .plan4 .header{
  border-bottom-color: pink;
}     
*/

/* --------------- */





/* --------------- */

#pricing-table ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

#pricing-table li {
  padding: 10px 0;
}

/* --------------- */
  
#pricing-table .signup {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font: bold 14px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;       
  background-color: #72ce3f;
  border-radius: 3px;     
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  opacity: .9;       
}

#pricing-table .signup:hover {
  opacity: 1;       
}

#pricing-table .signup:active {
  box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;       
}     

#pricing-table .plan1 .signup{
  background: blue;
  
margin-bottom:20px;
border-radius: 20px;
}

#pricing-table .plan2 .signup{
  background: red;
margin-bottom:20px;
border-radius: 20px;}

#pricing-table .plan3 .signup{
  background: green;
margin-bottom:20px;
border-radius: 20px;}

#pricing-table .plan4 .signup{
  background: #45D0DA;
margin-bottom:20px;
border-radius: 20px; }

.price1{
padding-top:22px;
font-size:25px;

 display: inline-block;


}
.price p{
 padding-top:22px;
display:inline-block;

}
  
  /*
  #pricing-table .price{
background-color:blue;

height:70px;


}*/
#pl1 .price
{
background-color:blue;
 color:white;
 padding-bottom:10px;

}

#pl2 .price
{
background-color:red;
color:white;
 padding-bottom:10px;

}


#pl3 .price
{
background-color:green;
 color:white;
  padding-bottom:10px;

}


#pl4 .price
{
background-color:#45D0DA;
 color:white;
  padding-bottom:10px;

}

.box{
display: inline-block;
 
  
}






/*-----start pricing table2-------*/
.container {
  overflow: hidden;
  margin: 0px auto;
  padding-bottom: 20px;
  width: 100%;
  
}

.henavbar{
  background:linear-gradient(blue,purple)
}


.priheading{
margin-right: 500px;
}




.tiny {
  float: left;
  margin: 20px 20px 20px 10px;
  width: 400px;
}
.tiny:hover{
  border: 1px solid blue;
 

}

.small {
  float: left;
  margin: 20px 20px 20px 10px;
  width: 400px;
  border: 1px solid blue;


}
.medium:hover{
  border: 1px solid blue;
 
}


.medium {
  float: left;
  margin: 20px 20px 20px 10px;
  width: 400px;



}

/* .pri2{
background-color: #a12f23;
color: #1d6391;
} */



.pricing-table-header-tiny {
  padding: 25px 0 5px;
  color: #081386;
  width: 400px;
  margin-bottom: 20px;

}

.pricing-table-header-small {
  padding: 25px 0 18px;

  color: #081386;
  width: 400px;
  margin-bottom: 20px;
}

.pricing-table-header-medium {
  padding: 25px 0 5px;
  color: #081386;
  width: 400px;
  margin-bottom: 20px;


}


.pricing-table-header-tiny h2,
.pricing-table-header-small h2,
.pricing-table-header-medium h2,
.pricing-table-header-pro h2 {
  font-weight:bold;
  font-size: 60px;

  color: rgb(1, 6, 88);
}

.pricing-table-header-tiny .click,
.pricing-table-header-small .click,
.pricing-table-header-medium .click
{
  
  clip-path: polygon(10.9% 0%, 75% 0%, 85% 50%, 75% 100%, 10% 100%, 0% 50%);
  background-color: rgb(182, 193, 245);
  width: 300px;
  padding: 15px; 
font-size:15px; 
  margin-left: 70px;
  color: rgb(72, 45, 225);
  margin-top: 50px;
}

.click:hover
/* .pricing-table-header-small .click,
.pricing-table-header-medium .click */
{
  
  clip-path: polygon(10.9% 0%, 75% 0%, 85% 50%, 75% 100%, 10% 100%, 0% 50%);
  background-color: rgb(15, 51, 234);
  width: 300px;
  padding: 15px; 
font-size:15px; 
  margin-left: 70px;
  color: #FFF;

   
  
}

.click h3{
  margin-left: -40px;
}






.pricing-table-signup-tiny {
  margin-top: 25px;
  padding-bottom: 10px;
}

.pricing-table-signup-tiny a {
  display: inline-block;
  width: 60%;
  height: 50px;
  background: rgb(172, 187, 252);
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(79, 59, 204);
  text-decoration: none;
  text-transform: uppercase;
  
}

.pricing-table-signup-tiny a:hover {
  text-decoration: none;
  background: #4459ff;
  color: #fff;


}

.span3.pricing-table-header-tiny a:hover {
  text-decoration: none;
  background: #4459ff;
  color: #fff;
}




.pricing-table-signup-small {
  margin-top: 25px;
  padding-bottom: 10px;
}

.pricing-table-signup-small a {
  display: inline-block;
  width: 60%;
  height: 50px;
  background: rgb(172, 187, 252);
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(79, 59, 204);
  text-decoration: none;
  text-transform: uppercase;

}

.pricing-table-signup-small a:hover {
  text-decoration: none;
  background-color: #4459ff;
  color: #fff;
}

.pricing-table-signup-small a:active {
  background-color: #4459ff;
  color: rgb(79, 59, 204);

}

.pricing-table-signup-medium {
  margin-top: 25px;
  padding-bottom: 10px;
}

.pricing-table-signup-medium a {
  display: inline-block;
  width: 60%;
  height: 50px;
  background: rgb(172, 187, 252);
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(79, 59, 204);
  text-decoration: none;
  text-transform: uppercase;

}

.pricing-table-signup-medium a:hover {
  text-decoration: none;
  background-color: #4459ff;
  color: #FFF;
}




.top {
  margin-top: 20px;
}

.space {
  margin: 10px;
}
.container h1{
  margin-top: 100px;
}
/* ----------------------------------end */












.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* ----start---onlinesletter--------------------------- */



.topnav_a {
  overflow: hidden;
  background-color: #dfe8f4;
  margin-top: 50px;
}

.active_a{
  float: left;
  display: block;
  color: black;
  text-align: left;
  padding: 20px 150px;
  text-decoration: none;
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;

}



/* .topnav a.active_a {
  background-color: #2196F3;
  color: white;
} */

/* .topnav_a  .search-container {
  float: right;
} */

.topnav_a input[type=text] {
  padding: 10px;
  margin-top: 31px;
  font-size: 15px;
  border: none;
  width:400px;
  
}

.topnav_a .search-container button {
  float: right;
  padding: 9px;
  margin-top: 31px;
  margin-right: 270px;
  background: blue;
  color:white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}




/* @media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  } */
  /* .topnav_a a, .topnav_a input[type=text], .topnav_a .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 500px;
    margin: 0;
    padding: 10px;
  } */
  .topnav_a input[type=text] {
    border: 1px solid #ccc;  
  }


/* ---------------------------------------- */


/* ---------------------------------------- */


/* ----------------footer css start here------------------------ */



.pg-footer {
  font-family: 'Roboto', sans-serif;
  margin-top:0px;
 
}


.footer {
    background: linear-gradient(black,rgb(74, 74, 74),black
    );
    color: #fff;
}

.footer-wave-path {
    fill: #fffff2;
}

/* .footer-content {
    margin-left: auto;
    margin-right:0 auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
} */

.footer-content-column {
    
    float: left;
   
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}


.footer-menu {
    margin-top: 30px;
    margin-left: -500px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 18px;
    margin-left: 10px;
    /* margin-bottom: 0;
    margin-top: 0; */
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 20px;
    
    text-align: left;
}
.footer-menu-list li {
    margin-top: 5px;
    margin-left:280px;
    font-size: 14px;
    font-weight: 20px;
    
}

.footer-container{
 margin-top: -140px;
   float:right;
  
}



.footer-container input[type=text] {
  padding: 10px;
  margin-top: 40px;
  font-size: 15px;
  border: none;
  width:175px;
  
}
.footer-container button {
  float: right;
  padding: 9px;
  margin-top: 40px;
  /* margin-left: 0px; */
  background: blue;
  color:white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* .topnav_a .search-container button {
  float: right;
  padding: 9px;
  margin-top: 31px;
  margin-right: 270px;
  background: blue;
  color:white;
  font-size: 17px;
  border: none;
  cursor: pointer;
} */

#jobcat{
  margin-top: 120px;
  
  margin-right:30px;
}
#jobt{
  margin-top: 120px;
  
  margin-right:100px;
}

#resources li{
  margin-left:270px;
  
}

#resources{
  margin-right:100px;
  margin-top: 120px;
} 
#popular{
  margin-right:175px;
  margin-top: 120px;
}
#popular li{
  margin-left:220px;
  
}


/* 
.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
} */

















.footer-copyright-text-p{
    background:linear-gradient(rgb(32, 32, 32)white);
    color: grey;
  
  text-align:left;


  
}
.footer-copyright-link-l{
  word-spacing: 10px;
  font-size: 15px;
  text-align: center;
  color: #fff;
 

}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
   
}


.footer-copyright-link {
    color: white;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}
/* ----------------footer css end here------------------------ */